@using MB.SimTaxi.Web.Models.Drivers;
@model DriverPageViewModel

@{
    ViewData["Title"] = "Drivers";
}

<div class="container">
    <h1>Drivers</h1>

    <hr />
    <p>
        <a class="btn btn-primary" asp-action="Create">Create New Driver</a>
    </p>
    <hr />

    <table class="table table-striped data-table">
        <thead>
            <tr>
                <th>
                    Driver #
                </th>
                <th>
                    Driver Name
                </th>
                <th>
                    Gender
                </th>
                <th>
                    Country Name
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var driver in Model.Drivers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => driver.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => driver.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => driver.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => driver.CountryName)
                    </td>
                    <td>
                        <a class="text-decoration-none text-primary" asp-action="Edit" asp-route-id="@driver.Id" data-bs-toggle="tooltip" data-bs-title="Edit">
                            <i class="fa-solid fa-pen"></i>
                        </a>
                        <a class="text-decoration-none ms-2 text-info" asp-action="Details" asp-route-id="@driver.Id" data-bs-toggle="tooltip" data-bs-title="Details">
                            <i class="fa-solid fa-circle-info"></i>
                        </a>

                        <!-- Button trigger delete modal -->
                        <span class="pointer ms-2 text-danger" data-bs-toggle="tooltip" data-bs-title="Delete">

                            <i class="fa-solid fa-trash" data-bs-toggle="modal" data-bs-target="#deleteModal_@driver.Id"></i>

                        </span>

                        <!-- Delete Modal -->
                        <div class="modal fade" id="deleteModal_@driver.Id" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteModalLabel">Delete Driver</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <h3>Are you sure you want to delete <span class="text-danger">@driver.FullName</span>?</h3>
                                    </div>

                                    <div class="modal-footer">
                                        <form asp-action="Delete" class="mt-3">
                                            <input type="hidden" name="id" value="@driver.Id" />
                                            <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                                            <input type="submit" value="Delete" class="btn btn-danger ms-1" />
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- Button trigger delete modal -->
                        <span class="pointer ms-2 text-danger" data-bs-toggle="tooltip" data-bs-title="Assign Car">

                            <i class="fa-solid fa-car-on" data-bs-toggle="modal" data-bs-target="#assignCarModal_@driver.Id"></i>

                        </span>

                        <!-- Assign Car Modal -->
                        <div class="modal fade" id="assignCarModal_@driver.Id" tabindex="-1" aria-labelledby="AssignCarModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">

                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="deleteModalLabel">Assign Car to Driver</h1>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>


                                    <form asp-action="AssignCarToDriver" class="mt-3">
                                        <div class="modal-body">

                                            @* TODO add Multiselect Cars*@

                                        </div>

                                        <div class="modal-footer">

                                            <input type="hidden" name="id" value="@driver.Id" />
                                            <a class="btn btn-secondary" data-bs-dismiss="modal">Cancel</a>
                                            <input type="submit" value="Delete" class="btn btn-danger ms-1" />


                                        </div>
                                    </form>



                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>